{% extends 'base.html.twig' %}
 {% block body %}
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <div align="center">
     <h2>  Votre commande a été passé avec succés </h2>
         <br> <br>
         <h4>  Vous pouvez télécharger Votre facture par : </h4>
         <br>
         <script src="{{ asset('https://printjs-4de6.kxcdn.com/print.min.js')}}" type="text/javascript"></script>

         <button type="button"  class="btn login_btn" onclick="printJS({printable: someJSONdata, properties: ['Produit', 'Quantite', 'prix'], type: 'json' ,gridHeaderStyle: 'color: red;  border: 2px solid #3971A5;',
	    gridStyle: 'border: 2px solid #3971A5;'})">
            ICI
         </button>
         <script>

             someJSONdata = [
                 {%  for prod in produits %}
                 {
                     Produit:"{{ prod.nomProd }}",
                     Quantite: {{ prod.quantite }},
                     prix: {{ prod.prix }}
                 },
                 {% endfor %}

                 {

                     Produit: "",
                     Quantite: "",
                     prix: "total: {{ total }}dt"

                 }
                 /*  {
                       name: 'Cool Dude',
                       email: 'cool@dude.com',
                       phone: '333-333-3333'
                   }*/

             ]

         </script>
         </div>
 {% endblock %}